@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-brand-black: #16161d;
  --color-brand-navy: #1b334c;
  --color-brand-red: #9b1c1f;
  --color-brand-white: #f3f0ec;

  --font-sans: var(--font-cormorant);
}

body {
  background: var(--color-brand-white);
  color: var(--color-brand-black);
  font-family: var(--font-sans);
}
